<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">


<ion-header>
  <ion-toolbar color="medium">
    
    <ion-title id="apptitulo">Realizado por:</ion-title>
  <ion-buttons slot="start">
    <ion-back-button color="dark"></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button color="dark" slot="start" href="https://github.com/Lycanthia1991">
        <ion-icon name="logo-github"></ion-icon>
      </ion-button>
      <ion-button slot="start" href="https://www.linkedin.com/in/borja-d%C3%ADaz-galiana-3b7b91183/">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-button>
      <ion-label autosize disabled="true" class="autor" slot="start">Borja Díaz Galiana.</ion-label>  
    </ion-item>
    <ion-item >
      <ion-button color="dark" slot="start" href="https://github.com/a-sabater">
        <ion-icon name="logo-github"></ion-icon>
      </ion-button>
      <ion-button slot="start" href="https://www.linkedin.com/in/ana-sabater-aguado/">
        <ion-icon name="logo-linkedin"></ion-icon>
    </ion-button>
    <ion-label autosize disabled="true" class="autor" slot="start">Ana Sabater Aguado.
    </ion-label>
    </ion-item>
    <ion-item> </ion-item>
    <ion-item>
      <ion-textarea autosize disabled="true" id="definicion" >Trabajo final del curso de Java Fullstack, impartido por la Escuela de Organización Industrial.</ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea autosize disabled="true" class="ion-text-wrap" id="definicion3" >Hemos desarrollado una aplicación móvil que permite a los usuarios compartir fotografías. Estas fotografías pueden además, modificarse o eliminarse por parte del usuario que la subió a la plataforma originalmente.</ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea autosize disabled="true" id="definicion2">Tecnologías utilizadas:</ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea autosize disabled="true" id="definicion3">
        El front-end se ha realizado con Ionic y Angular. El back-end se ha llevado a cabo con Spring Boot.
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea autosize disabled="true" id="definicion4">Disponible en: <a href="https://github.com/a-sabater/EOI-FullStack-Trabajo">GitHub</a>.
      </ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>